<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live</title>
    <link rel="stylesheet" href="live.css">
</head>
<body>
    <div class="live-container" id="live-container">
        <img src="https://img.freepik.com/premium-photo/mask-those-used-by-anonymous-with-black-cloth-black-background_449839-879.jpg" alt="anonymous" class="live-img" id="live-img">
        <a href="#" class="live-button" id="live-button">
            LIVE
            <div class="live-dot"></div>
        </a>
        <script type="application/json" id="live-data" style="display:none">
        ["Data 1", "Data 2", "Data 3"]
        </script>
    </div>
    <script src="live.js"></script>
</body>
</html>

