<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive & Live</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
</head>
<body>
    <div class="modal-overlay" id="machineNameModal">
        <div class="modal">
            <h3>Select or Enter Machine Name</h3>
            <input list="machinesList" id="machineNameInput" placeholder="Machine Name">
            <datalist id="machinesList"></datalist>
            <br>
            <button id="submitMachineName">Submit</button>
            <p id="errorMsg">Please enter a machine name</p>
        </div>
    </div>

<div class="dropdown">
    <button class="category">Machines List ▼</button>
    <div class="dropdown-content">
        <ul id="machines_output"></ul>
    </div>
</div>

    <button id="get_years" class="category">Years</button>
    <button class="category">Language</button>

    <a href="http://127.0.0.1:5000/live" class="live-button">
        LIVE <span class="live-dot"></span>
    </a>

    <!-- כפתור אפשרויות נוספות -->
    <div class="dropdown">
        <button class="category">אפשרויות נוספות ▼</button>
        <div class="dropdown-content">
            <button id="list" class="dropdown-item">Machine deletion</button>
            <button id="self-destruction" class="dropdown-item">Self-destruction</button>
        </div>
    </div>

    <button class="category">Source/Website</button>
</div>

    <div class="right-side">
        <h2>Archive</h2>

        <div class="search-form">
            <!-- <img class="search-icon left" src="https://img.freepik.com/premium-photo/mask-those-used-by-anonymous-with-black-cloth-black-background_449839-879.jpg" alt="icon"> -->
            <div class="search-row">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date">
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date">
            </div>
            <div class="search-row">
                <label for="start-time">Start Time:</label>
                <input type="time" id="start-time">
                <label for="end-time">End Time:</label>
                <input type="time" id="end-time">
            </div>
            <button class="search-button" id="search-button">Search</button>
            <!-- <img class="search-icon right" src="https://img.freepik.com/premium-photo/mask-those-used-by-anonymous-with-black-cloth-black-background_449839-879.jpg" alt="icon"> -->
        </div>

        <div class="archive-results" id="archive-results"></div>
    </div>

    <div id="yearsModal" class="years-modal" style="display:none;">
        <h4>Years</h4>
        <ul id="yearsList"></ul>
    </div>

    <h3 style="color: aliceblue;" ></h3>
    


    <script src="{{ url_for('static', filename='Main_page.js') }}"></script>
</body>
</html>
